@model IEnumerable<u21600393_HW05.Models.Borrowed>

@{
    ViewBag.Title = "Book Details";
}

<h2>Name</h2>

<p>
    @Html.ActionLink("View Students", "Students", "Home", new { @class = "btn btn-primary"  })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.borrowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.takenDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.broughtDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.borrowedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.borrowId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.takenDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.broughtDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.borrowedBy)
        </td>
        
    </tr>
}

</table>
