@model u21600393_HW05.Models.BooksVM


<div class="h2">Books</div>

@using (Html.BeginForm("searchBooks", "Home", FormMethod.Post))
{
<form>
    <div class="form-row">
        <div class="col">
            <input type="text" name="bookName" class="form-control" placeholder="Search Book Name">
        </div>
        <div class="col">
            <select id="dropType" class="form-control">
                <option value="" selected disabled>Select a Type</option>
                @foreach (var item in Model.Books)
                {
<option>@Html.DisplayFor(modelItem => item.typeID)</option>}
            </select>
        </div>
        <div class="col">
            <select id="dropAuthor" class="form-control">
                <option value="" selected disabled>Select an Author</option>
                @foreach (var item in Model.Authors)
                {
<option>@Html.DisplayFor(modelItem => item.authorId)</option>}
            </select>
        </div>
        <div class="col">
            <input type="submit" name="Search" value="submit" />
            <button type="submit" class="btn btn-success btn-block" name="Search">Search</button>

        </div>
        <div class="col">
            <button type="button" class="btn btn-danger btn-block">Clear</button>
        </div>
    </div>
</form>}

<br />

<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Type</th>
        <th>Page Count</th>
        <th>Points</th>
        <th>Status</th>
    </tr>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.BookID</td>
            <td>@book.Name</td>
            <td>@book.AuthorID</td>
            <td>@book.typeID</td>
            <td>@book.pageCount</td>
            <td>@book.Point</td>
            <td>
            </td>
            <td>
                @Html.ActionLink("View", "Borrows", "Home", new { bookId = book.BookID }, new { @class = "btn btn-primary" })

            </td>
        </tr>
    }
</table>

