@model IEnumerable<u21600393_HW05.Models.Books>



<div class="h2">Books</div>

@using (Html.BeginForm("searchbooks", "Home", FormMethod.Post))
{
    
        <div>
            <input type="text" id="bookname" name="bookname" placeholder="Search book" />
        </div>
        <div>
            <select name="authorname" id="authorname" >
                <option value="" disabled selected>Select author</option>
                @foreach (var author in Model)
                {
                    <option>@author.Author</option>
                }
            </select>
        </div>
        <div>
            <select name="typename" id="typename">
                <option value="" disabled selected>Select type</option>
                @foreach (var type in Model)
                {
                <option>@type.Type</option>
                }
            </select>
        </div>
        <div class="col-lg-2 col-md-6">
            <input type="submit" class="btn btn-success" value="Search" name="search" />
        </div>
        @Html.ActionLink("Clear", "clearIndex", "Home", new { @class = "btn btn-danger" })
}

<br />

<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Type</th>
        <th>Page Count</th>
        <th>Points</th>
        <th>Status</th>
    </tr>
    @foreach (var books in Model)
    {
        <tr>
            <td>@books.BookID</td>
            <td>@books.Name</td>
            <td>@books.Author</td>
            <td>@books.Type</td>
            <td>@books.PageCount</td>
            <td>@books.Point</td>
            <td>
                Available
            </td>
            <td>
                @Html.ActionLink("View", "Borrows", "Home", new { bookId = books.BookID }, new { @class = "btn btn-primary" })

            </td>
        </tr>
    }
</table>

