@model IEnumerable<u21600393_HW05.Models.Students>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

@using (Html.BeginForm("studentsearch", "Home", FormMethod.Post))
{

    <div>
        <input type="text" id="name" name="name" placeholder="Search name" />
    </div>
    <div>
        <select name="cla" id="cla">
            <option value="" disabled selected>Select class</option>
            @foreach (var cla in Model)
            {
                <option>@cla.Class</option>
            }
        </select>
    </div>
    <div class="col-lg-2 col-md-6">
        <input type="submit" class="btn btn-success" value="Search" name="search" />
    </div>
    @Html.ActionLink("Clear", "clearStudents", "Home", new { @class = "btn btn-danger" })
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.ActionLink("Borrow Book", "Index", "Home", new { @class = "btn btn-primary" }) |

            </td>
        </tr>
    }

</table>
