@model IEnumerable<u21600393_HW05.Models.Students>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<form>
    <div class="form-row">
        <div class="col">
            <input type="search" id="searchStudentName" class="form-control" placeholder="Search Student Name">
        </div>
        <div class="col">
            <select id="dropType" class="form-control">
                <option value="" selected disabled>Select a class</option>
                @foreach (var item in Model)
                {
                    <option>@Html.DisplayFor(modelItem => item.Class)</option>
                }
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success btn-block">Search</button>

        </div>
        <div class="col">
            <button type="button" class="btn btn-danger btn-block">Clear</button>
        </div>
    </div>
</form>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.ActionLink("Borrow Book", "Edit", new { /* id=item.PrimaryKey */ }) |
            
        </td>
    </tr>
}

</table>
